
# Visual Studio files
.vs/

# user-specific project settings
/fit.vcxproj.user
/test.vcxproj.user

# Visual Studio build directory
/x64/

# VTune project directory
/vtune/

# test data directory
/test/

# default Makefile build directory
/build/

# Nuget packages
/packages/

# SHA256 source (see devops/get-sha256)
/src/sha256/
