
# Visual Studio files
/.vs/

# user-specific project settings
/fit.vcxprok.user

# Visual Studio build directory
/x64/

# Nuget packages
/packages/

# SHA256 source (see get-sha256.bat)
/sha256/
