<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StoneSteps.Exiv2.VS2022.Static" version="0.27.6.2" targetFramework="native" />
  <package id="StoneSteps.Expat.VS2022.Static" version="2.5.0.2" targetFramework="native" />
  <package id="StoneSteps.IsaLibCrypto.VS2022.Static" version="2.24.0.1" targetFramework="native" />
  <package id="StoneSteps.RapidJSON.VS2022.Static" version="1.1.0.1" targetFramework="native" />
  <package id="StoneSteps.SQLite.VS2022.Static" version="3.39.4.1" targetFramework="native" />
  <package id="StoneSteps.zLib.VS2022.Static" version="1.2.13.1" targetFramework="native" />
</packages>